.footer-main{
    background-color: #0099ff;
}
.foot-text{
    text-align: start;
    color: white;
    font-family:Founders Grotesk,sans-serif;
}
.foot-copyright{
    text-align: center;
    color: white;
}